
<div class="well form-inline left" style="text-align: left;">
    <fieldset>
        <legend>首页 / 文章详情</legend>
        <div class="row">
            <div class="span4">
                <h2><%= posts.title %></h2>
                <p>作者: <%= posts.name %> &nbsp;<%= posts.time.minute %></p>
                <p><%= posts.post %></p>
            </div>
        </div>
    </fieldset>
</div>

    
