<div class="well form-inline left" style="text-align: left;">
    <fieldset>
        <legend> 版本说明 </legend>
        <div class="row">
            <div class="span4">
                <h5> 版本: v 0.1 </h5>
                <p class="font-size">
                    <ul>
                        <li>修复了一些bug.</li>
                        <li>添加了admin权限的一些功能及修改CSS样式.</li>
                        <li>添加了 KindEditor 超文本编辑器功能.</li>
                    </ul>
                </p>
            </div>
        </div>
    </fieldset>
</div>