<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>K-blog</title>
    <link href="/images/ctip.ico" type="image/x-icon" rel="icon">
    <link href="/images/ctip.ico" type="image/x-icon" rel="shortcut icon">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/stylesheets/kblog.css" />

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
   
  </head>
  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">K-blog</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">首頁</a></li>
               <% if(!locals.user){ %>
                 <li><a href="/login">登入</a></li>
                 <li><a href="/reg">注册</a></li>
               <% } else { %>
                 <li><a href="/logout">登出</a></li>
                 <li >
                     <a>当前用户: &lt; <strong style="color: #ff6a00;"><%= locals.user.name %></strong> &gt;</a>
                 </li>
               <% } %>
               
            </ul>
            <ul class="nav pull-right">
              <li>
                <a href="/k_explain">版本</a>
              </li>
              <% if (locals.user && locals.user.name === 'admin') { %>
                <li class=""><a href="/refreshArticle"><font color="red">刷新文章</font></a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- 成功和错误信息 -->
    <% if (locals.success) { %>
        <div class="alert alert-success">
        <%= locals.success %>
        </div>
    <% } %>
    <% if (locals.error) { %>
        <div class="alert alert-error">
        <%= locals.error %>
        </div>
    <% } %>

    <div id="container" class="container">
      <%- body %>
      <hr />
      <footer>
        <p style="margin-left: 10px;">
            <a href="http://livespring.b3log.org/" target="_blank">liveSpring</a>,
            <a href="http://venicespring.b3log.org/" target="_blank">venicespring</a>
            &nbsp; 2013.
        </p>
      </footer>
    </div>
    
      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <script charset="utf-8" src="/editor/kindeditor-min.js"></script>
      <script charset="utf-8" src="/editor/lang/zh_CN.js"></script>

      <script charset="utf-8" type="text/javascript">
          //初始化编辑器
          var editor;
          KindEditor.ready(function (K) {
              editor = K.create('#editor_post');
          });


          $(function(){

            $("#btn_post_1").click(function () {
                $("#post_2").show();
                $("#post_1").hide();
            });
            $("#btn_post_2").click(function () {
                $("#post_1").show();
                $("#post_2").hide();
            });

            //隐藏提示
            $("div.alert").fadeOut(3000);
          })
      </script>
  </body>

</html>
