
<div class="well form-inline center" style="text-align: center">
    <input type="button" class="btn" id="btn_post_1" value="随便说" />
    <input type="button" class="btn" id="btn_post_2" value="发帖" />
</div>

<div id="post_1" style="display: none;">
    <form method="post" class="well form-inline left" style="text-align: left;">
    <fieldset>
        <legend>发帖</legend>
        <div class="control-group">
            <label class="control-label" for="title">标题</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="title" name="title" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="post">内容</label>
            <div class="controls">
                <textarea id="editor_post" name="editor_post" style="width: 700px;height: 300px;"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>发表</button>
    </fieldset>
    </form>
</div>

<div id="post_2">
    <form method="post" action="/post" class="well form-inline center" style="text-align: center;">
        <input type="text" class="span8" name="post" maxlength="600" />
        <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>发言</button>
    </form>
</div>


<% posts.forEach(function(post, index){  
    if(index % 3 == 0){ %>
    <div class="row">
    <% } %>
<div class="span4">
    <h2><%= post.title %></h2>
    <p>作者: <%= post.name %> &nbsp;<%= post.time.minute %></p>
    <p><%= post.post %></p>
</div>
<% if(index % 3 == 2){ %>
    </div>
<% } %>
<% }) %>
<% if(posts.length % 3 != 0){%>
    </div>
<% } %>