<form class="form-horizontal" method="post">
    <fieldset>
        <legend>用户注册</legend>
        <div class="control-group">
            <label class="control-label" for="username">用户名</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="username" name="username" />
                <p class="help-block">你的账户名称, 用于登陆和显示</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">密码</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="password" />
                <p class="help-block">用户名对应的密码</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password-repeat">确认密码</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password-repeat" name="password-repeat" />
                <p class="error_block"><%= locals.error %></p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inCode">邀请码</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="inCode" name="inCode" />
                <p class="error_block" style="color: red;"><%= locals.inCodeError %></p>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">注册</button>
        </div>
    </fieldset>
</form>